<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

</head>
<body>
<div class="container">
    <h1>Добро пожаловать, {{username}}!</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Написать заявку" class="btn btn-primary">
    </form>
    <h3>
        Текущие заявки:
    </h3>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if isAll == False %} active {%endif%}"><a class="page-link" href="/">Мои</a></li>
            <li class="page-item {% if isAll == True %} active {%endif%}"><a class="page-link" href="/all">Все</a></li>
            <li class="page-item">
                 <a class="page-link" href="/logout">Выход</a>
            </li>
        </ul>
    </nav>
    {% for claim in claims %}
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title">{{claim.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{claim.user.username}}, {{claim.house}} комната</h6>
            <p class="card-text">{{claim.text}}</p>
            {% if claim.status != 'new' %}
                <h6 class="card-subtitle mb-2 text-muted">Статус: {{ statusRus|lookup:claim.status }}. Ответственный:
                    {{claim.moder}}</h6>
                {%endif%}
            {% if claim.status == 'new' %}
                <h6 class="card-subtitle mb-2 text-muted">Статус: {{ statusRus|lookup:claim.status }} </h6>
            {%endif%}
        </div>
    </div>
    <p></p>
    {% endfor %}
</div>

</body>
</html>